


.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    
    @include mobile{
    height: 60px;
    display: flex;
       
        align-items: center;
    }
     @include tablet{
    height: 80px;
    display: flex;
       
        align-items: center;
     }

   
    
    // align-items: center;
    
}

.header__nav {
    display: flex;
   
    }

.header__list {
    // display: flex;
    display: none;
    @include tablet {
        display: flex;
        margin-left: 93px;
        padding-left: 0px;
        gap: 50px;
        align-items: center;
        
    }
    @include desktop{
        margin-left: 92px;
    }
      
}

.header__list .header__nav-line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--logo-item-color);
    border-radius: 2px;
}
 


.header__link {
    // display: flex;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--first-title-color);
    &:hover,
    &:focus {
    color: var(--logo-item-color);
    transition: color var(--transition-cubic);
        }
}

.header__item {
    position: relative;
    // display: flex;
    align-items: center;
    gap: 10px;
    
}

.header__contact {
    margin-left: auto;
    padding-left: 0px;
    // display: flex;
    align-items: center;
    gap: 50px;
    display: none;
    

    @include tablet {
        display: block;
        padding-right: 15px;
    }
    @include desktop {
        display: flex;
        align-items: center;

    }

    
   
}


.header__contact-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--titel-text-color);
    &:hover,
    &:focus {
    color: var(--logo-item-color);
    transition: color var(--transition-cubic);
        }
        @include tablet{
        font-size: 12px;
        line-height: 1.16;
        }
       

}
.header__contact-email{
    margin-bottom: 10px;
    padding-top: 21px;
    @include desktop {
            padding-top: 0;
            margin: 0;
        }
}
.header__contact-telefon{
    padding-bottom: 21px;
    @include desktop {
            padding-bottom: 0;;
            margin: 0;
        }
}

.header__contact-image {
    fill: #757575;
    .header__contact-link:hover &,
    .header__contact-link:focus & {
    fill: var(--logo-item-color);
        }
}
// ---------------МЕНЮ---------------
    .menu-open {
            display: inline-flex;
            margin: 0;
            // padding: 0;
            
            background-color: transparent;
            padding-top: 10px;
                padding-bottom: 10px;
                width: 40px;
                height: 40px;
                border: none;
            
                @include tablet {
                    display: none;
                }
        }
        .icon-cross{
            left: 22.22%;
                right: 16.67%;
                top: 16.67%;
                bottom: 22.22%;
                fill: #000000;
            
                &:focus,
                &:hover {
                    fill: var(--logo-item-color);
                }
        }
        // .menu-open .icon-cross{
        //     display: none;
        // }
        // .menu-open.is-open .icon-cross{
        //     display: block;
        // }
        // .menu-open.is-open .icon-menu {
        //              display: none;
        // }
        .mob-menu{
            position: fixed;
            top: 0;
            margin-left: auto;
            margin-right: auto;
            max-width:480px;
            width: 100%;
            height: 796px;
            
            background: #FFFFFF;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 
            0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            @include tablet{
                display: none;
            }
        }
        .menu-close{
            display: block;
            width: 40px;
            height: 40px;
            border: none;
            background-color: transparent;
            margin-left: auto;
            padding-top: 21px;
            padding-right: 25px;
        }
    
     .mob-list{
        margin-bottom: 306px;
        
     }
     .mob__item{
        margin-bottom: 30px;
     }
     
   .mob__link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--first-title-color);
    text-decoration: none;
    padding-top: 48px;
    &:focus,
    &:hover {
    color: var(--logo-item-color);
    transition: var(--transition-cubic);
        }
   }
   

   .mob-contact{
    position: absolute;
    bottom: 134px;
   }
   .mob-contact-telefon{
    margin-bottom: 32px;
   }
   .mob-telefon-name{
    font-weight: 500;
    font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #2196F3;
        text-decoration: none;
   }
   .mob-email-name{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    
        color: #757575;
    text-decoration: none;
   }
   .mob-contact-link{
    text-decoration: none
   }
   .mob-soc{
    display: flex;
    position: absolute;
    bottom: 48px;
   }
   .mob-soc_item:not(:last-child)::after{
    content: "";
    margin-left: 10px;
    margin-right: 10px;
    top: 40%;
    left: 100%;
    width: 22px;
    height: 1px;
    rotate: -90deg;
    border: 1px solid rgba(33, 33, 33, 0.2);
   }
   .mob-soc-name{
    text-decoration: none;
    font-weight: 500;
        font-size: 18px;
        line-height: 1,22;  
        letter-spacing: 0.02em;
    
        color: #2196F3;
   }
