


.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    
    @include mobile{
    height: 60px;
    display: flex;
       
        align-items: center;
    }
     @include tablet{
    height: 80px;
    display: flex;
       
        align-items: center;
     }

   
    
    // align-items: center;
    
}

.header__nav {
    display: flex;
   
    }

.header__list {
    // display: flex;
    display: none;
    @include tablet {
        display: flex;
        margin-left: 93px;
        padding-left: 0px;
        gap: 50px;
        align-items: center;
        
    }
    @include desktop{
        margin-left: 92px;
    }
      
}

.header__list .header__nav-line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--logo-item-color);
    border-radius: 2px;
}


.header__link {
    // display: flex;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--first-title-color);
    &:hover,
    &:focus {
    color: var(--logo-item-color);
    transition: color var(--transition-cubic);
        }
}

.header__item {
    position: relative;
    // display: flex;
    align-items: center;
    gap: 10px
    ;
}

.header__contact {
    margin-left: auto;
    padding-left: 0px;
    // display: flex;
    align-items: center;
    gap: 50px;
    display: none;
    @include tablet{
        display: block;
    }
   
}


.header__contact-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--titel-text-color);
    &:hover,
    &:focus {
    color: var(--logo-item-color);
    transition: color var(--transition-cubic);
        }
        @include tablet{
        font-size: 12px;
        line-height: 1.16;
        }
}
.header__contact-email{
    margin-bottom: 10px;
    padding-top: 21px;
}
.header__contact-telefon{
    padding-bottom: 21px;
}

.header__contact-image {
    fill: #757575;
    .header__contact-link:hover &,
    .header__contact-link:focus & {
    fill: var(--logo-item-color);
        }
}

.meny-open{
    padding-top: 10px;
padding-bottom: 10px;    
    width: 40px;
    height: 40px;
    border: none;
background-color: #fff;
    @include tablet {
        display: none;
    }
}