.logo {
    
    width: 134px;
    height: 28px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    // font-size: 26px;
    // line-height: calc(31/26);
    color: var(--logo-color);
    // font-weight: 700;
        
}

.logo-footer {
    display: flex;
    justify-content: center;
//   margin: 0;
//    padding-top: 60px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    color: var(--first-color);
    text-decoration: none;
    // width: 145px;
    height: 31px;
    @include tablet{
       
        margin-bottom: 20px;
        
    }
    @include desktop{
        display: block;
        text-align: left;
     padding: 0;
    }
}

.logo-item {
    font-family: 'Raleway';
    color: var(--logo-item-color)
}